@{
    ViewData["Title"] = "My Pizzas";
}

@if (User.IsInRole("Admin"))
{
    <div class="pad d-flex justify-content-center">
        <a href="@Url.Action("Create", "Pizza")" class="btn btn-primary">Create a pizza</a>
    </div>
}

<p id="pizzas-loader">Loading pizzas...</p>

<p id="no-pizzas">No pizzas to display</p>

<div class="grid gap">
    <div id="pizzas-filter">
        <div class="form-field">
            <label>Filter by name</label>
            <input placeholder="filter" />
        </div>
    </div>

    <table id="pizzas-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody id="pizzas"></tbody>
    </table>
</div>

@section Scripts
    {
    <script>
        loadPizzas();
        initFilter();
    </script>
}